@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("./imgs/food-pic_1.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
}

nav button:nth-of-type(1) {
  margin-left: 15rem;
}

nav {
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 75px;
  height: 125px;
  width: 100vw;
  /* background-color: #0c0c0c; */
  opacity: 0.9;
  /* box-shadow: rgba(237, 237, 237, 0.56) 0px 22px 70px 4px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px,
    rgba(204, 219, 232, 0.4) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.3) -3px -3px 6px 1px inset;
}

.logo {
  /* display: inline; */

  margin-left: -29rem;
  margin-top: 17px;
  width: 75px;
  height: 75px;

  background-image: url("./imgs/logo.png");
  background-size: cover;
}

nav button {
  display: flex;
  justify-content: center;
  margin-bottom: -100px;
  border-radius: 1rem;
  text-align: center;
  height: 4rem;
  width: 10rem;
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  /* box-sizing: border-box; */
  color: #000000;
  cursor: pointer;
  /* display: inline-block; */

  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  top: 30px;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  box-shadow: rgba(237, 237, 237, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.active-btn {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
    rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(255, 255, 255, 0.2) 0px 16px 16px;
  background-color: #9c9c9c;
}

nav button:before {
  border-radius: 1rem;

  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #e5e5e5;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

nav button:hover:before {
  border-radius: 1rem;

  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

nav button:after {
  border-radius: 1rem;

  background-color: #ffffff;
}

nav button span {
  z-index: 1;
  position: relative;
}

/* Content */

#content {
  display: grid;
  justify-content: center;
}

/* Home Page  */

.hrs-cnt {
  border-radius: 10px;
  width: 375px;
  height: 425px;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px,
    rgba(204, 219, 232, 0.4) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.3) -3px -3px 6px 1px inset;
  line-height: 1.5;
  padding: 30px;
  margin-top: 50px;
  color: #ededed;
  margin-bottom: 50px;
}

.hrs-cnt h1 {
  margin-top: -20px;
  width: 135px;
  font-size: 45px;
  border-bottom: 2px solid #ededed;
}

.hrs-cnt p {
  font-weight: 600;
}

.location-cnt {
  border-radius: 10px;
  margin-left: -48px;
  width: 500px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px,
    rgba(204, 219, 232, 0.4) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.3) -3px -3px 6px 1px inset;
  line-height: 1.5;
  padding: 30px;
  color: #ededed;
  align-self: flex-end;
}

.location-cnt h1 {
  margin-top: -20px;
  width: 190px;
  font-size: 45px;
  border-bottom: 2px solid #ededed;
}

.location-cnt p {
  font-weight: 600;
}

/* Menu Page */

.menu-cnt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  /* margin-left: -150px; */
  padding-top: 30px;
}

.menu-item {
  width: 275px;
  height: 275px;

  background-color: #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px,
    rgba(204, 219, 232, 0.4) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.3) -3px -3px 6px 1px inset;
  border-radius: 15px;
  padding: 50px;
  border-left: 15px solid #f0b429;
  padding: 50px;
  transition: all 0.5s ease-out;
}

.menu-item h2 {
  color: #0c0c0c;
  margin-bottom: 10px;
}

.menu-item p {
  margin-top: 0;
}

.menu-item-pic {
  border-radius: 10px;
  margin-top: -25px;
  background-image: url("./imgs/menu-item_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  width: 250px;
  height: 175px;
}

.one {
  grid-column: 1 / 2;
}

.two {
  grid-column: 2 / 3;
}

.three {
  grid-column: 3/4;
}

.four {
  grid-column: 4/5;
}

.five {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.six {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.item-2 {
  background-image: url("./imgs/menu-item_2.jpg");
}

.item-3 {
  background-image: url("./imgs/menu-item_3.jpg");
}

.item-4 {
  background-image: url("./imgs/menu-item_4.jpg");
}

.item-5 {
  background-image: url(./imgs/menu-item_5.jpg);
}

.item-6 {
  background-image: url("./imgs/menu-item_7.jpg");
}

/* About Page */

.about {
  border-radius: 10px;
  line-height: 1.5;
  padding: 30px;
  margin-top: 150px;
  color: #ededed;
  width: 600px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px,
    rgba(204, 219, 232, 0.4) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.3) -3px -3px 6px 1px inset;
}

.about h1 {
  width: 135px;
  font-size: 45px;
  border-bottom: 2px solid #ededed;
}
