@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-dark: #333;
}

* {
  font-family: "Outfit", sans-serif;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

body {
  background-color: var(--primary-dark);
}
